* {
  box-sizing: border-box;
}

@import url("https://use.typekit.net/wgp0pcn.css");

//$white: #EEEDE9;
$white: #fff;

.tooltip {
  background: #fff;
  border: 0;
  max-width: 190px;
  font-size: .8em;
  padding: .25em;
  z-index: 999;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: .9em;
  font-family: ibm-plex-mono, sans-serif;
  background: $white;

  @media only screen and (max-width: 800px) {
    font-size: .8em;
  }

}


// LOADER
#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999999;
  background: $white;

  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;


  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;

  //  display: none;

  ._loading {

    text-align: center;
    opacity: 0;
    animation: seconds_logo .5s forwards;
    animation-iteration-count: 1;
    animation-delay: 0.2s;

    img {
      margin: 0 auto;
      max-width: 160px;
      padding: 1em;
      display: block;
    }

  }
}


@-webkit-keyframes seconds_logo {
  0% {
    opacity: 0;
  }

  100% {
    pointer-events: none;
    opacity: 1;
  }
}

@keyframes seconds_logo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    pointer-events: none;
  }
}


@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    pointer-events: none;
    bottom: -4009px;
  }
}

@keyframes seconds {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    pointer-events: none;
    bottom: -4009px;
  }
}


// ABOUT
#about {
  position: absolute;
  height: calc(100% - 80px);
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 2em;
  padding-top: 0;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 1) 87%, rgba(255, 255, 255, 1) 100%);

  z-index: 9;
  display: none;

  h1 {
    font-size: 1.25em;
    font-weight: normal;
    text-transform: uppercase;
  }

  p {
    max-width: 700px;
  }


  a {
    color: #000;
    opacity: 0.5;
  }

  a:hover {
    opacity: 1;
  }

  @media only screen and (max-width: 800px) {

    padding: 0 2.5vw;
    padding-top: 1em;
    padding-bottom: 5vh;
  }

}

// INDEX

#index-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  div {
    width: 100%;
    max-width: 100%;
  }
}

#title-about {
  box-sizing: border-box;
  max-width: 100%;
  flex-grow: 2;
  padding: 0 2.5vw;
  margin: 0;

  h1 {
    line-height: 100%;
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-transform: uppercase;
    cursor: s-resize;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  @media only screen and (max-width: 800px) {
    font-size: 1.2rem;
    }
    
  }

  @media only screen and (max-width: 800px) {
    padding: .5em 1em;
  }


}

#header {
  width: 100%;
  padding: 0 2.5vw;
  box-sizing: border-box;
  font-size: .8em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  div {
    display: inline;
  }

  .header-controls {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    width: 100%;
    padding: 1em 0;

    div {
      width: auto;
    }

    .control-displaytype {
      margin-left: 10%;
    }
  }

  label {
    display: inline-block;
    transform: translateY(-2px);
    padding: .25em;
margin-right:.3em;
    font-size: .6rem;

    input {
      display: inline-block;
      width: 12px;
      height: 12px;
      transform: translateY(2px) translateX(-4px);
    }
  }


  button {
    font-family: ibm-plex-mono, sans-serif;
    text-transform: uppercase;
    border: 0;
    background: 0;
    padding: .25em;
    font-size: .9em;
    color: #000;


    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
  }

  button[data-control='big'] {
    opacity: 0.5;
  }

  button:hover {
    cursor: pointer;
    transform: translateY(-2px);
  }

  .info {
    width: auto;
    display: inline-block;
    margin-top: 1em;
  }

  @media only screen and (max-width: 800px) {
    flex-wrap: nowrap;

    .info {


      button {
        display: block;
      }
    }


    div {
      display: inline;

      input[id="all"] {
        display: none;
      }

      label[for="all"] {
        padding: .5em 0;
        padding-right: 1em;
      }

    }

    label {
      padding: .1em .25em;
    }

    .header-controls {

      div {
        max-width: 100px;
      }

      .control-displaytype button {
        display: block;
        padding: .15em .25em;
        font-size: 1em;

      }

    }

  }
}

.tape {
  //  padding: 1em;
  margin: .25em;
  max-width: 250px;
  max-height: auto;
  overflow: hidden;
  text-align: center;
}


.tape-cover {
  text-align: center;
  display: block;
  width: 120px;
  height: 188px;
  margin: 0 auto;
  overflow: hidden;

  img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transform: scale(1);
  }

}



$height_top: 100px;
$height_tapes: 77vh;

.top-wrapper {
  position: fixed;
  z-index: 99;
  height: $height_top;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 2.5vh 0;
  box-sizing: border-box;
  overflow: hidden;
  background: rgb(238, 237, 233);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.4) 87%, rgba(255, 255, 255, 0) 100%);
  @media only screen and (max-width: 800px) {
    padding: 0;
    height: 120px;
  }
}

#index {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  overflow-y: hidden;


  .tape-only {
    height: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    vertical-align: middle;
    width: 100%;
    padding: 3.5em 0 1em 0;

    // tape interactions
    a:hover {
      transform: translateY(-6px);
      filter: saturate(110%);
      opacity: 1;
    }

    a {
      display: inline-block;
      box-sizing: border-box;
      object-fit: cover;
      width: auto;
      height: 100%;

      -webkit-transition: all .15s ease-in-out;
      transition: all .15s ease-in-out;

      img {
        object-fit: cover;
        margin: auto;
        width: auto;
        height: auto;
        max-height: 100%;
      }
    }

  }

  .tape-wrapper-smol {
    position: absolute;
    background: $white;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    z-index: 2;

    .tape-only {
      overflow-y: scroll;
      overflow-x: hidden;
      display: flex;
      flex-wrap: wrap;
      vertical-align: middle;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: space-between;
      padding: 0 2.25vw;
      padding-top: 90px;
      padding-bottom: 20px;
      scroll-behavior: smooth;
      counter-reset: tapect;

      @media only screen and (max-width: 800px) {
        padding-top: 100px;
        justify-content: space-between;
      }

      a {
        position: relative;
        box-sizing: border-box;
        margin: .25em;
        width: 108px;
        height: 237px;
        //        border: 1px solid #000;
        display: inline-block;
        text-decoration: none;
        color: #000;
        

        .info {
          margin: 0;
          padding: .2em 0;
          font-size: .6em;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
          display: inline-block;
          white-space: nowrap;
        }

      }


      a::before {
        counter-increment: tapect;
        content: "0"counter(tapect);
        font-size: .6em;
        text-align: left;
        display: inline-block;
        width: 100%;
        opacity: 0.6;
      }

      img {
        background:rgb(39, 0, 255);
        max-height: 188px;
      }

      ._year {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: -50px;
        padding: .75em;
        width: 100%;
        opacity: 0.5;
        font-size: .6em;
      }
    }

    .tape-only:hover > a:not(:hover) {
      opacity: 0.9;

      .info {
        opacity: 0.4;
      }

    }

  }

  .tape-wrapper {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 50px;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    display: none;

    .tape-only {

      img {
        width: auto;
        max-width: none;
        max-height: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
      }

      a {
        margin: 0 1%;
        padding: 0;
      }

      a:first {
        margin-left: 2.5vw !important;
      }

      @media only screen and (max-width: 800px) {

        margin-top: 40px;
        max-height: 80%;

        a {

          width: auto;
          height: 100%;

          img {

            width: auto;
            height: 100%;
          }
        }

      }
    }

    @media only screen and (max-width: 800px) {
      padding-top: 50px;
    }
  }
}


// FILTERS
input:hover,
label:hover {
  cursor: pointer;
}


// UI
.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  white-space: pre-line;
}

body .ui-tooltip {
  border-width: 2px;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
