@import url("https://use.typekit.net/wgp0pcn.css");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  font-family: ibm-plex-mono, sans-serif;
  background: #EEEDE9;
  overflow: hidden;
}
@media only screen and (max-width: 800px) {
  body {
    font-size: 0.8em;
    overflow-y: hidden;
  }
}

.top-wrapper {
  position: fixed;
  z-index: 99;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 2.5vh 2.5vw;
  box-sizing: border-box;
  overflow: hidden;
  background: #eeede9;
  background: linear-gradient(180deg, #eeede9 0%, rgba(238, 237, 233, 0.5) 80%, rgba(238, 237, 233, 0) 100%);
  display: flex;
}
.top-wrapper button {
  font-family: ibm-plex-mono, sans-serif;
  text-transform: uppercase;
  border: 0;
  background: 0;
  padding: 0 0.25em;
  margin: 0;
  font-size: 0.9em;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.top-wrapper .info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
}
.top-wrapper .info:hover > button:not(:hover) {
  opacity: 0.6;
}
@media only screen and (max-width: 800px) {
  .top-wrapper {
    height: 120px;
  }
}

#title-about {
  box-sizing: border-box;
  max-width: 100%;
  flex-grow: 2;
}
#title-about a {
  text-decoration: none;
  color: #000;
}
#title-about h1 {
  line-height: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
}

.top-wrapper:hover h1 span {
  display: none;
}

.top-wrapper:hover h1:before {
  content: "Philippine Cassette Archive";
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
  main {
    max-height: 100%;
    overflow-y: hidden;
    display: block;
  }
}

#cover {
  padding: 0 2.5vw;
  width: 380px;
  text-align: left;
  padding-top: 80px;
}
#cover img {
  padding: 0;
  margin: 0;
  max-width: 100%;
}
@media only screen and (max-width: 800px) {
  #cover {
    width: 100%;
    text-align: center;
    height: 70vh;
  }
  #cover img {
    height: 100%;
  }
}

#content {
  width: calc(100% - 380px);
  height: 100%;
  padding-top: 80px;
  overflow-y: scroll;
  padding-right: 2.5vw;
  padding-bottom: 5vh;
}
@media only screen and (max-width: 800px) {
  #content {
    padding: 0 2.5vw;
    text-align: center;
    width: 100%;
    height: auto;
    overflow-y: hidden;
  }
}
#content ._links:hover > a:not(:hover) {
  opacity: 0.6;
}
#content h1 {
  padding: 1em 0;
  padding-top: 0;
  border-bottom: 1px solid #000;
}
#content ._metadata,
#content ._links {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 800px) {
  #content ._metadata,
#content ._links {
    max-width: 200px;
  }
}
#content ._links {
  justify-content: flex-start;
}
@media only screen and (max-width: 800px) {
  #content ._links {
    justify-content: space-between;
  }
}
#content ._year,
#content ._label {
  display: inline-block;
}
#content ._links {
  padding: 0.5em 0;
}
#content ._links a {
  text-decoration: none;
  color: #000;
  padding: 0 0.5em;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
#content ._links a[href=""] {
  display: none;
}
#content ._links a:hover {
  text-decoration: underline;
}
#content .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: text-top;
  padding-top: 1em;
  border-top: 1px solid #000;
}
#content .images img {
  vertical-align: text-top;
  max-height: 300px;
  max-width: 50%;
}
@media only screen and (max-width: 800px) {
  #content .images {
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: flex-start;
    -webkit-overflow-scrolling: touch;
  }
  #content .images img {
    max-width: none;
    height: auto;
    max-height: calc(100vh - 70vh - 50px);
  }
}

/*# sourceMappingURL=tape.css.map */
