@import url("https://use.typekit.net/wgp0pcn.css");
* {
  box-sizing: border-box;
}

.tooltip {
  background: #fff;
  border: 0;
  max-width: 190px;
  font-size: 0.8em;
  padding: 0.25em;
  z-index: 99999999;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  font-family: ibm-plex-mono, sans-serif;
  background: #fff;
}
@media only screen and (max-width: 800px) {
  body {
    font-size: 0.8em;
  }
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999999;
  background: #fff;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  animation: seconds 2s ease forwards;
  animation-iteration-count: 1;
  animation-delay: 0.25s;
}
#loader ._loading {
  display: none;
  text-align: center;
  opacity: 1;
  animation: seconds_logo 0.5s ease-out forwards;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
}
#loader ._loading img {
  margin: 0 auto;
  max-width: 160px;
  padding: 1em;
  display: block;
}

@keyframes seconds_logo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
#about {
  position: fixed;
  height: calc(100% - 55px);
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 2em 2.5vw;
  padding-top: 0;
  background: linear-gradient(180deg, #eeede9 0%, #eeede9 87%, #eeede9 100%);
  z-index: 99999;
  display: none;
}
#about h1 {
  font-size: 1.25em;
  font-weight: normal;
  text-transform: uppercase;
}
#about p {
  max-width: 700px;
}
#about a {
  color: #000;
  opacity: 0.5;
}
#about a:hover {
  opacity: 1;
}
@media only screen and (max-width: 800px) {
  #about {
    height: calc(100% - 55px);
    box-sizing: border-box;
    padding: 0 1em;
    padding-bottom: 5vh;
  }
}

.top-wrapper {
  position: fixed;
  z-index: 99;
  height: 160px;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 2.5vh 2.5vw;
  box-sizing: border-box;
  overflow: hidden;
  background: #eeede9;
  background: linear-gradient(180deg, white 0%, white 87%, white 100%);
}
.top-wrapper button {
  font-family: ibm-plex-mono, sans-serif;
  text-transform: uppercase;
  border: 0;
  background: 0;
  padding: 0 0.25em;
  margin: 0;
  font-size: 0.9em;
  cursor: ne-resize;
  color: #000;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.top-wrapper .info {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  opacity: 0.8;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  cursor: ne-resize;
  display: none;
}
.top-wrapper .info:hover > button:not(:hover) {
  opacity: 0.6;
}
@media only screen and (max-width: 800px) {
  .top-wrapper {
    padding: 0.5em 1em;
    height: 120px;
  }
}

#title-about {
  box-sizing: border-box;
  max-width: 100%;
  flex-grow: 2;
}
#title-about a {
  text-decoration: none;
  color: #000;
}
#title-about h1 {
  overflow: hidden;
  line-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  font-weight: normal;
  text-transform: uppercase;
  cursor: w-resize;
  text-overflow: ellipsis;
  text-align: center;
}
#title-about h1 span span._stitle {
  font-weight: strong;
}

.top-wrapper:hover h1 span {
  display: none;
}

.top-wrapper:hover h1:before {
  position: relative;
  padding-top: 0.5em;
  display: inline-block;
  content: "Philippine Cassette Archive";
}
@media only screen and (max-width: 800px) {
  .top-wrapper:hover h1:before {
    padding-top: 0;
  }
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
  main {
    display: block;
  }
}

#cover {
  padding: 0 5vw;
  width: 100%;
  max-width: 95vw;
  height: 80%;
  min-height: 300px;
  max-height: calc(90vh - 150px);
  text-align: center;
  padding-top: 100px;
  vertical-align: text-top;
  object-fit: contain;
  margin-top: 2em;
}
#cover img {
  min-height: 300px;
  height: calc(90vh - 180px);
  padding: 0;
  margin: 0 auto;
  display: inline-block;
}
@media only screen and (max-width: 800px) {
  #cover {
    margin-top: -0.5em;
    width: 100%;
    text-align: center;
    height: 88vh;
    justify-content: center;
    vertical-align: middle;
  }
  #cover img {
    margin: 0 auto;
    height: 100%;
    width: auto;
    max-width: 90%;
    max-height: 100%;
  }
}

#content {
  width: 100%;
  max-width: 95vw;
  height: auto;
  padding-bottom: 5vh;
  margin-top: 120px;
  box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
  #content {
    margin-top: 40px;
    padding: 0 2.5vw;
    text-align: center;
  }
}
#content ._links:hover > a:not(:hover) {
  opacity: 0.6;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
#content h1 {
  padding: 1em 0;
  padding-top: 0;
  border-bottom: 1px solid #000;
}
#content ._metadata {
  padding-top: 0.5em;
}
#content ._metadata,
#content ._links {
  width: 100%;
  font-size: 0.9em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}
@media only screen and (max-width: 800px) {
  #content ._metadata,
#content ._links {
    font-size: 0.8em;
    padding: 0;
  }
}
#content ._metadata div,
#content ._links div {
  margin: 0 0.5em;
}
#content .__year,
#content .__label {
  display: inline-block;
}
#content .__artist:before, #content .__year:before, #content .__genre:before, #content .__label:before, #content .__discogs:before, #content .__streaming:before {
  font-size: 0.5rem;
  position: absolute;
  transform: translateY(-1.25em);
}
@media only screen and (max-width: 800px) {
  #content .__artist:before, #content .__year:before, #content .__genre:before, #content .__label:before, #content .__discogs:before, #content .__streaming:before {
    font-size: 0.5rem;
  }
}
#content .__artist:before {
  content: "ARTIST";
}
#content .__year:before {
  content: "YEAR";
}
#content .__genre:before {
  content: "GENRE ";
}
#content .__label:before {
  content: "LABEL ";
}
#content .__discogs:before {
  content: "INFO ";
}
#content .__streaming:before {
  content: "LISTEN ";
}
#content a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
  cursor: ne-resize;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
#content a[href=""] {
  display: none;
}
#content .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: text-top;
  padding-top: 0.5em;
  margin-top: 50px;
}
#content .images img {
  vertical-align: text-top;
  height: auto;
  width: auto;
  max-height: 100%;
}
@media only screen and (max-width: 800px) {
  #content .images {
    margin-top: 1em;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-align: center;
    overflow-x: scroll;
    width: auto;
    padding: 0 5vw;
    -webkit-overflow-scrolling: touch;
    padding-top: 0.15em;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  #content .images img {
    margin: auto;
    max-width: none;
    height: auto;
    max-height: calc(100vh - 70vh - 80px);
    box-sizing: border-box;
    padding-bottom: 0.5em;
  }
}
@media only screen and (min-width: 800px) {
  #content .images img:first-child {
    display: none;
  }
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*# sourceMappingURL=tape.css.map */
